body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.Faiaz_Ahsan{
    color: orange;
}

.flexible_container{
    display: flex;
    margin-bottom: 100px;
}

.half_width{
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

.half_width img{
    width: 80%;
}

.hire_me_button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}

.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second_sec_image{
    size: 500px;
}

.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience_item_1{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    border-left: 7px solid orange;
}

.experience_item_2{
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
    border-left: 7px solid cornflowerblue;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p{
    text-align: center;
}